.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.HomepageTop button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid black;
    padding: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.HomepageTop button:hover {
    background-color: lightgreen;
    color: black;
}

.HomepageTop button.Red {
    background-color: red;
}

.HomepageTop button.Red:hover {
    background-color: salmon;
    color: black;
}
